<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>11E53</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>CodaScriptPlugIn</string>
	<key>CFBundleIconFile</key>
	<string>plug-in</string>
	<key>CFBundleIdentifier</key>
	<string>com.panic.CodaScriptPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>CodaPlugInMinimumAPIVersion</key>
	<string>5</string>
	<key>CodaPlugInSupportedAPIVersion</key>
	<integer>6</integer>
	<key>DTCompiler</key>
	<string></string>
	<key>DTPlatformBuild</key>
	<string>4E2002</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>10K549</string>
	<key>DTSDKName</key>
	<string>macosx10.6</string>
	<key>DTXcode</key>
	<string>0432</string>
	<key>DTXcodeBuild</key>
	<string>4E2002</string>
	<key>NSPrincipalClass</key>
	<string>CodaScriptPlugIn</string>
	<key>commands</key>
	<array>
		<dict>
			<key>fallbackInput</key>
			<string>line</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Accordion</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>accordion.php</string>
			<key>setInsertionPoint</key>
			<false/>
			<key>uuid</key>
			<string>1EBDB2E7-825B-40C7-A4B0-833C53268288</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>line</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Alerts</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>alerts.php</string>
			<key>uuid</key>
			<string>78EDA264-1038-45FC-8F95-D1CC10FF4D2C</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>line</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Breadcrumbs</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>breadcrumbs.php</string>
			<key>uuid</key>
			<string>2CF5AEB1-B89C-4563-8F6D-85944344E8F4</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>line</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Button bar</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>button-group.php</string>
			<key>uuid</key>
			<string>2DCE7044-BDC0-47C4-9377-8C6F1CEDAE7A</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>line</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Button group</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>button-group.php</string>
			<key>uuid</key>
			<string>65A49AAD-9132-4044-8AA9-BF744A7951B6</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>line</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Button</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>button.php</string>
			<key>uuid</key>
			<string>66A193A9-BF74-4484-A4AB-65860EA07B24</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>line</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Clearing</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>clearing.php</string>
			<key>uuid</key>
			<string>E80852EA-2414-4805-AEFE-59568F857FF2</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>line</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Dropdown button</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>dropdown-button.php</string>
			<key>uuid</key>
			<string>226241EF-6795-4539-B3A2-1F9C32F324CF</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>line</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Offcanvas</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>offcanvas.php</string>
			<key>uuid</key>
			<string>8F2E460F-647C-4AE1-A89D-6198EA15FF3F</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>line</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Orbit content</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>orbit-content.php</string>
			<key>uuid</key>
			<string>3589AD4A-8F44-40CB-83F3-5CDF36B38857</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>line</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Orbit</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>orbit.php</string>
			<key>uuid</key>
			<string>D48174E1-BC06-45B7-A079-F01F63DBD7D1</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>word</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Pagination</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>pagination.php</string>
			<key>uuid</key>
			<string>28201797-E5E1-4A34-A5EB-612987235224</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>line</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Panel</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>panel.php</string>
			<key>uuid</key>
			<string>49B00AC8-85F2-43EC-93B6-50BAE0844397</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>line</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Pricing table</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>pricing-table.php</string>
			<key>uuid</key>
			<string>BCE9C16D-8AAD-4A3C-B0B8-7804B8066023</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>line</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Progress bar</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>progress-bar.php</string>
			<key>uuid</key>
			<string>3129EB29-B6F4-4FBB-8623-41021F7104D6</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>line</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Reveal</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>reveal.php</string>
			<key>uuid</key>
			<string>DE71EE28-6ED7-4FDA-B3E2-393CAFB5812F</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>line</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Sidenav</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>sidenav.php</string>
			<key>uuid</key>
			<string>AD63319F-91F9-4D11-AD53-EA10BF8E4007</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>line</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Split button</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>split-button.php</string>
			<key>uuid</key>
			<string>4A864F7E-D8FA-420F-9651-FF39FE9F5C49</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>line</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Subnav</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>subnav.php</string>
			<key>uuid</key>
			<string>C57DAF88-0AB7-4172-88E0-33EA3ACDC09D</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>line</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Tab</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>tab.php</string>
			<key>uuid</key>
			<string>8D494C77-8BC9-4CF0-9DBA-5CFF1F4A6F33</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Top bar</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>top-bar.php</string>
			<key>uuid</key>
			<string>69231ACB-2E97-4A9E-A30A-2A57F484C805</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>line</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Vertical tab</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>vertical-tab.php</string>
			<key>uuid</key>
			<string>0FAA5FB8-F46F-4E05-B3F4-53D23ADADDA9</string>
		</dict>
	</array>
</dict>
</plist>
